{% extends '::base.html.twig' %}
{% block body%}

<div class="container">

    <h3>Modifier une figure</h3>
    {{ form_start(form) }}

    {% form_theme form 'jquery.collection.html.twig' %}

    <div class="form-group">
            {{ form_errors(form.nom) }}
            {{ form_label(form.nom, 'Nom de la figure :', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, 'Description :', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>


    <div class="form-group">
            {{ form_errors(form.groupe) }}
            {{ form_label(form.groupe, 'Difficulté :', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(form.groupe, { 'attr': {'class': 'form-control'} }) }}
    </div>



    <div class="row">

        <div class="col-lg-6 col-sm-6 align">
            {% for image in trick.image %}
            <div>
                <img class="figure_show_img" src="{{ asset(image.webPath) }}"
                alt="{{ image.alt }}" height="80"/>
            </div>
                {% endfor %}
        </div>

        <div class="col-lg-6 col-sm-6 marge">

                {{ form_row(form.image) }}


        </div>
    </div>






    <div>
            {{ form_errors(form.video) }}
            {{ form_widget(form.video) }}
    </div>





   	<input type="submit" value="Modifier la figure" class="btn btn-primary" />
   	<div class="display_none">{{ form_rest(form) }}</div>


</div>


<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('js/jquery.collection.js') }}"></script>

<script type="text/javascript">
$('.my-selector').collection({
        add_at_the_end: true,
        min: 1,
        max: 10,
        allow_up: false,
        allow_down: false,
        add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
        remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
});
</script>


{% endblock %}

